@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
  font-family: 'bariol';
  src:font-url('/bariol_regular-webfont.eot');
  src:font-url('/bariol_regular-webfont.eot') format('embedded-opentype'),
    font-url('/bariol_regular-webfont.woff2') format('woff2'),
    font-url('/bariol_regular-webfont.woff') format('woff'),
    font-url('/bariol_regular-webfont.ttf') format('truetype'),
    font-url('/bariol_regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

h2 > a, h3 > a {
    color: #555;
}
a.active.sidebar-link {
    color: #333;
}

.navbar span.site-name {
    color: rgba(0,0,0,0);
    background-image:url("/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:125px;
    height:50px;
    padding-bottom:-10px;
}

.home > .hero > p.description {
    color:#444;
}

.home > .features > .feature > p {
    color:#444;
}

.home .footer {
    color:#444;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Bariol", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 1.3em;
    margin-bottom: 0.2rem;
}

h4 {
    font-size:1.2rem;
}

h3 a {
    font-weight: 600;
}
p {
    margin-top: 0.2rem;
}

.sidebar > ul.sidebar-links > li > a.sidebar-link {
    font-weight: normal;
    line-height: 1rem;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.theme-default-content:not(.custom) img {
    max-width: 80%;
}