h2 > a, h3 > a {
    color: #555;
}
a.active.sidebar-link {
    color: #333;
}

span.site-name {
    background-image:url("/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:125px;
    height:50px;
}

.home > .hero > p.description {
    color:#444;
}

.home > .features > .feature > p {
    color:#444;    
}

.home .footer {
    color:#444;    
}